* { 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.flexbox {
    display: flex; 
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $colorDestacado;
      }
}


ul {
    list-style-type: none;
}

.body {
    background-color: #E9E9EA;
}

main {
    margin-top: 160px;
}

