.footer {
    background-color: rgb(238, 236, 219);
    opacity: 80%;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    font-family: $tipografia-titulos;
    font-size: 12px;
    line-height: 19px;
    color: $colorOscuro;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.footer__iconosRedesSociales {
    display: flex;
    width: 100px;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    align-content: flex-end;
}