.header {
    background-color: rgb(238, 236, 219);
    opacity: 80%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    font-family: $tipografia-titulos;
    line-height: 19px;
    color: $colorOscuro;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding: 2rem 3rem;

    &__icono {
        font-size: 32px;
        color: $colorOscuro;
        text-decoration: none;
        display: none;
    }
}


.nav {
    display: flex;

    &__listado {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    &__item{
        margin-left: 0.75rem;
        padding: 0;
    }

    &__item--oculto{
        display: none;
        }
        
    &__item--activo{
        color: #799591;
        text-decoration: underline;
        }
}