/* 1024px */
@media screen and (max-width:1224px) {

    .seccionRedesSociales__fotos--oculto1 {
        display: none
    }
}

/* Tablet */
@media screen and (max-width:1023px) {

    .seccionRedesSociales__fotos--ancho{
        @include sizes (190px, 190px)
    }

    .seccionRedesSociales__fotos--oculto {
        display: none
    }

    .gridAudios {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas: 
        "img1 img2 img3 img4"
        "txt1 txt1 img5 img6";
        margin: 4rem;
        width: 80%;

        &__hijo--5 {
            font-size: 22px;
            padding: 1rem;
        }
    }

    .SeccionTestimonios__container--box{
        width: $ancho*0.9;
    }

}

@media screen and (max-width:768px){
    .seccionPacks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 5rem 3rem;
    
        &-conecta{
            margin: 1rem;
        }
    
        &__titular {
            font-size: 22px;
        }
    
        &__bajada {
            font-size: 16px;
        }
    }
    .seccionPrincipal {
        width: $ancho;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem;

        &__izquierda {
            width: $ancho;
        }
    
        &__derecha {
            width: $ancho;
        }
    }

    .seccionPrincipalBis {
        width: $ancho;
        font-family: $tipografia-titulos;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0rem;

        &__izquierda {
            width: $ancho;
        }
        
       &__derecha {
            width: $ancho;
        }
    
    }
    .formulario {
        margin: 0 3rem 3rem;}
    

    .seccionRedesSociales{
        padding: 2rem 2rem;

        &__fotos {
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            align-content: center;
            gap: 0.5rem;
            padding-right: 0rem;
            }

        &__fotos--ancho{
            @include sizes (170px, 170px);
        }
    }
    .seccionParrafo__encuentros {
        margin-top: 1.5rem;
    }

    .seccionPacks {
        padding-top: 3rem;
    }

}


/* Movil */
@media screen and (max-width: 599px) {

    .header{
        width: $ancho;
        opacity: 85%;

        &__icono {
            display: block;
        }
    }

    .nav {
        display: block;
        background-color: rgb(212, 212, 212);
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000000;
        width: 70%;
        height: 100vh;
        transition: left 1s;

        &:target {
            display: block;
            left: 0;
        }

        &__listado {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            height: 100%;
            margin-left: 2rem;    
            color:$colorOscuro
        }

        &__item{
            margin-left: 0.5rem;
            font-size: 22px;
        }

        &__item--oculto{
            display: block;
        }

        &__item--activo{
            color: $colorOscuro;
            text-decoration: none;
            }
    
    }
    
 

    .seccionPrincipal {
        width: $ancho;
        font-family: $tipografia-titulos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem;

        &__izquierda {
            width: $ancho;
        }
    
        &__derecha {
            width: $ancho;
        }
    
        &__titular {
            color: #87757E;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
        }
        
        &__parrafo {
            color: $colorOscuro;
            line-height: 20px;
            font-size: 16px;
            font-family: $tipografia-textos;
            text-align: center;
        }
        
    }



    .seccionRedesSociales {
        background-color: #87757E;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5rem;

        &__fotos {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap; 
            justify-content: center; 
            align-items: center;
            align-content: center;
            gap: 1rem;
            padding-right: 0rem;
        }

        &__fotos--oculto {
            display: none
        }

        &__fotos--ancho{
            @include sizes (190px, 190px)
        }
    
        &__titular {
        color: #cdcdcd;
        font-size: 20px;
        text-align: center;
        padding: 1rem;
        padding-top: 2rem;
        }
    
        &__boton {
        font-size: 14px;
        font-family: $tipografia-textos;
        background-color: #cdcdcd;
        color: $colorOscuro;
        width: 130px;
        padding: 0.5rem 1rem;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        border: none;
        border-radius: 5px;
        }
    }
    



    .seccionPrincipalBis {
        width: $ancho;
        font-family: $tipografia-titulos;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0rem;

        &__izquierda {
            width: $ancho;
        }
        
       &__derecha {
            width: $ancho;
        }
    
    }
    
    .seccionParrafo {
        background-color: #87757E;
        padding: 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        color: #ffffff;
        line-height: 20px;
        font-family: $tipografia-textos;
        font-size: 16px;
        text-align: center;
    }

    .formulario {
        border: #87757E 3px solid;
        background-color: rgb(255, 255, 255);
        padding: 3rem;
        color: #87757E;
        font-family: $tipografia-textos;
        line-height: 2;
        margin: 0 3rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__boton {
            color: rgb(209, 209, 209);
            background-color: #87757E;
            padding: 0.5rem;
            margin-top: 2rem;
            border-radius: 0.5rem;
            width: 90px;
            text-align: center;
        }
    }
    


    .labelComment {
        display: flex;   
        justify-content: center;     
    }

    .inputsForm {
        width: 90%;
    }

    .gridAudios {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: 
        "img1 img2"
        "txt1 txt1"
        "img3 img4"
        "img5 img6";
        margin: 1rem;
        width:80%;

        &__hijo--5 {
            font-size: 22px;
            padding: 1rem;
        }
    }

    .gridEncuentros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4";
    }

    .seccionPacks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 5rem 0rem;
    
        &-conecta{
            margin: 1rem;
        }
    
        &__titular {
            font-size: 26px;
        }
    
        &__bajada {
            font-size: 20px;
        }
    }

    .footer {
        background-color: rgb(238, 236, 219);
        opacity: 80%;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    
        font-family: $tipografia-titulos;
        font-size: 10px;
        line-height: 19px;
        color: $colorOscuro;
        text-decoration: none;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .cardsBootstrap__elementos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .carousel-item {
        object-fit: scale-down;
        object-position:center;
        height: auto;
        width: $ancho;
    }

    .SeccionTestimonios {
        padding: 2rem 3rem;
    
        & h3{
            font-size: 20px;
            margin-bottom: 1rem;
        }
    }
    

}