.SeccionTestimonios{
    width: $ancho;
    padding: 2rem 4rem;
    margin: 0;
    // background-color: red;

    & span{
        color: $colorDestacado;
        font-family: $tipografia-titulos;
    }

    & h3{
        font-size: 24px;
        margin-bottom: 1rem;
    }

    &__container {
        display: flex;
        width: $ancho;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__container--box {
        background-color: white;
        font-family: $tipografia-textos;
        color: $colorOscuro;
        padding: 2rem;
        margin-top: 2rem;
        border-radius: 12px;
        opacity:95%;
        // width: $ancho*0.7;
        box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);
        border-radius: 25px 22px 0px 25px;
        gap: 3rem;

    }

    &__container--boxLeft{
        @extend .SeccionTestimonios__container--box;
        margin-left: auto;
        border-radius: 25px 22px 25px 0px;
        text-align: right;
        }
}